# Makefile for all targets
# Author: David Steenari (ESA)

SRC_FOLDER 	:= src
BUILD_FOLDER 	:= build
OUTPUT_FOLDER 	:= bin
CONFIG_FOLDER	:= config

MAKE		:= make

# Littelendian and Bigendian flags, by default if value is not set is Littelendian if value is set to -DBIGENDIAN is Bigendian -DBIGENDIAN
ENDIANFLAGS =

# - Sequential - 
SEQ_NAME	:= cpu
SEQ_CONFIG	:= cpu.config
SEQ_FOLDER	:= cpu

# - OpenMP - 
OPENMP_NAME	:= openmp
OPENMP_CONFIG	:= openmp.config 
OPENMP_FOLDER	:= openmp

# - OpenCL -
OPENCL_NAME	:= opencl
OPENCL_CONFIG	:= opencl.config 
OPENCL_FOLDER	:= opencl

# - CUDA - 
CUDA_NAME	:= cuda
CUDA_CONFIG	:= cuda.config
CUDA_FOLDER	:= cuda

# - HIP - 
HIP_NAME	:= hip
HIP_CONFIG	:= hip.config
HIP_FOLDER	:= hip


