# CUDA build configuration

# Compiler flags 
CC 		:= g++
CFLAGS		:= -lstdc++ -I./include/ -I../common/

# CUDA compiler
NVCC 		:= nvcc
NVCCFLAGS 	:= -I./include/ -I../common/ -arch compute_75 -code sm_75

# CUDA flags
CUFLAGS 	:= -I/usr/local/cuda/include -L/usr/local/cuda/lib64 -lcuda -lcudart
#CUFLAGS 	:= -L/usr/lib/cuda/lib64 -lcuda -lcudart

